absl_py==0.12.0
matplotlib==3.3.4
ray==1.2.0
torchsummary==1.5.1
pytorch_lightning==1.2.7
pandas==1.2.3
torch==1.8.0
torchvision==0.9.0
seaborn==0.11.1
scipy==1.5.3
six==1.15.0
h5py==3.1.0
webdataset==0.1.58
networkx==2.5
numpy==1.19.2
dcor==0.5.3
Pillow==8.3.2
PyYAML==5.4.1
scikit_learn==0.24.2
